.preview {
  width: 100px;
  height: 100px;
  background: #ccc;
  border: 1px solid #000;
}

.active {
  background-color: blue;
}

.toggle {
    display: none;
}

#pay-stubs{
  background-color:;
}

button {
  margin-top: 15px;
}
